{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Django</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
    </head>
    <body>
        <div class="top-bar">
            <section class="top-bar-title">
                <h1><a href="/">Поделись едой - будь счастлив</a></h1>
            </section>
            <section class="top-bar medium-3 columns">
                <ul class="right">
                    <form>
                        {% csrf_token %}
                        <ul class="right vertical">
                            {% if username %}
                                <a href="/auth/logout/" class="button"
                                   onMouseOver="this.style.background='#80C242'"
                                   onMouseOut="this.style.background='#689E36'" style="background-color: #689E36;"> Выйти ({{ username }})</a>
                            {% else %}
                                <a href="/auth/login/">Войти</a>
                            {% endif %}
                        </ul>
                    </form>
                </ul>
            </section>
        </div>
        <div class="sidebar medium-3 large-3 columns">
            {% csrf_token %}
            <ul class="inline-list right">
                <li><a href="/offers/">Активные предложения</a></li>
                <li><a href="/answers/">Ответы</a></li>
                <li><a href="/requests/">Заявки</a></li>
                <li><a href="/my_offers/">Мои предложения</a></li>
            </ul>
        </div>
        <div class="row">
            {% csrf_token %}
            {% block offers %}{% endblock %}
            {% block answers %}{% endblock %}
            {% block requests %}{% endblock %}
            {% block my_offers %}{% endblock %}
            {% block login %}{% endblock %}
        </div>
    </body>
</html>